<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentsManagement.Properties.Settings.SchoolConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\School.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StudentsManagement.Properties.Settings.schooldbConnectionString"
            connectionString="server=localhost;user id=mihai;database=schooldb"
            providerName="MySql.Data.MySqlClient" />
        <add name="StudentsManagement.Properties.Settings.schooldbConnectionString1"
            connectionString="server=localhost;user id=mihai;password=mihai;persistsecurityinfo=True;database=schooldb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>